﻿@inherits LayoutComponentBase
@using AllMyGits.Presentation.Web.Components

<div class="page">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark align-middle">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">All My Gits</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex-md align-items-center justify-content-md-end mt-lb-2" id="navbarToggler">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <form class="d-flex" role="search" method="get">
                            <input class="form-control" type="search" placeholder="Search user" aria-label="Search">
                        </form>
                    </li>
                    <UserPanel></UserPanel>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
