﻿@page "/u/{userName}"

<div class="d-flex flex-column text-center">
    <div>
        <h1></h1>
        <h2>@@@UserName</h2>
    </div>
</div>

@code {
    [Parameter]
    public string UserName { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }
}