﻿@page "/"

<div class="vstack user-select-none">
    <div class="vstack text-center mt-5 px-5">
        <div class="m-auto" style="max-width: 1024px;">
            <h1 class="h1 text-break text-wrap fw-800 ">All your Git repositories in one central dashboard</h1>

            <h5 class="text-muted">
                All My Gits is a cross-platform Git dashboard - you can add your account on any Git hosting platform to create a all-in-one activity dashboard.
            </h5>

            <div class="mt-3">
                <h5>Supported platforms:</h5>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="me-1 icons8-github"></div>
                            <div>GitHub</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="fixed-bottom text-lg-start text-muted bg-light">
        <div class="container p-4">
            <div class="row">
                <div class="col">
                    <span>© 2022. MIT License.</span>
                </div>
                <div class="col d-flex justify-content-end">
                    <a target="_blank" href="https://gitlab.com/thang040602/allmygits/">
                        <div class="icons8-gitlab"></div>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
