﻿@page "/login"
@using AllMyGits.Presentation.Web
@inject NavigationManager navigationManager
@inject Services.Interfaces.IUserService userService
@inject Providers.CustomAuthenticationStateProvider authenticationStateProvider

<PageTitle>Login</PageTitle>

<div class="d-flex">
    <div class="m-auto py-3 px-1 card">
        <EditForm method="post" Model="@loginRequest" OnValidSubmit="OnValidSubmit">
            <div class="container">
                <div class="row mb-3">
                    <div class="form-group">
                        <label for="userNameInput">User name or email</label>
                        <InputText class="form-control" @bind-Value="loginRequest.UserNameOrEmail"></InputText>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <InputText class="form-control" @bind-Value="loginRequest.Password" type="password"></InputText>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group">
                        <a target="_blank" href="/forgotpassword">Forgot password?</a>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group d-flex flex-column">
                        <button disabled="@loading" type="submit" class="btn btn-success">
                            @if (loading) 
                            {
                                <span class="spinner-border spinner-border-sm mr-1"></span>
                            }
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private Models.LoginRequest loginRequest = new Models.LoginRequest();
    private bool loading = false;

    private async Task OnValidSubmit()
    {
        loading = true;
        try
        {
            await userService.LoginAsync(loginRequest);
            await authenticationStateProvider.NotifyUserLoginAsync();
            navigationManager.NavigateTo("/", true);
        }
        catch (Exception ex)
        {
            loading = false;
        }
    }
}
