﻿@page "/register"

<PageTitle>Register</PageTitle>

<div class="d-flex">
    <div class="m-auto py-3 px-1 card">
        <form method="post">
            <div class="container">
                <div class="row mb-3">
                    <div class="form-group col">
                        <label for="firstNameInput">First name</label>
                        <input class="form-control" id="firstNameInput">
                    </div>
                    <div class="form-group col">
                        <label for="lastNameInput">Last name</label>
                        <input class="form-control" id="lastNameInput">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group">
                        <label for="userNameInput">User name</label>
                        <input class="form-control" id="userNameInput">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <input type="email" class="form-control" id="emailInput">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <input type="password" class="form-control" id="passwordInput">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group d-flex flex-column">
                        <button type="submit" class="btn btn-success">Register</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
