﻿<AuthorizeView>
    <Authorized>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hi, @context.User.Identity.Name
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li>
                    <a class="dropdown-item" href="#">Profile links</a>
                    <a class="dropdown-item" href="#">Account settings</a>
                    <li><hr class="dropdown-divider"></li>
                    <a class="dropdown-item" href="#">Log out</a>
                </li>
            </ul>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/register">Register</a>
        </li>
    </NotAuthorized>
</AuthorizeView>